@charset "UTF-8";

textarea{
	width:100%; height:400px; resize: none; border:1px solid #dee2e6;
	
}
.board-aside {
	display: flex;
	align-items: center;
	justify-content: center;
}

.board-aside-menu {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 200px;
	justify-content: space-between;
	margin-right: 2%;
}

.board-icon {
	height: 70px;
	color: rgb(255, 56, 142);
	font-size: 3rem;
}

.board-main {
	display: flex;
	justify-content: center;
}

.board-main-area {
	border-left: 2px solid pink;
	width: 60%;
	/* margin-top:10%; */
	padding-left: 5%;
}

.board-main-area-firstline {
	display: flex;
	justify-content: space-between;
}

.board-main-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid pink;
	margin-bottom: 50px;
}

.board-menu {
	width: 120%;
}

.board-menu p {
	text-align: right;
	padding-right: 30%;
}

.board-pagenation {
	margin-top: 10%;
	text-align: center;
}

.board-table-area {
	width: 100%;
}

.board-table {
	text-align: center;
	font-size: 14px;
}

.board-title {
	margin-left: 10%;
	height: 40px;
	font-size: 1.8rem;
}

.board-table input {
	width: 100%;
	border: 0 solid black;
	border: 1px solid #dee2e6;
}

.board-writer-content {
	width: 100%;
	height: 20em;
	border: none;
	resize: none;
	border: 1px solid #dee2e6;
}

.board-write-area {
	margin-left: 87%;
}

.board-reply-content {
	border: none;
	resize: none;
	border: 1px solid lightgray;
	width: 95%;
	height: 10em;
	box-shadow: inset 0 1px 1px rgb(0 0 0/ 8%);
}

.board-reply-o {
	width: 100%;
	height: 260px;
	background-color: rgba(224, 224, 224, 0.29);
	text-align: center;
	padding-top: 20px;
}

.board-reply-area {
	margin: 10% auto;
}

.board-reply-inputbox {
	border: none;
	border: 2px solid lightgray;
	width: 100px;
	text-align: center;
	border-radius: 3px;
	background-color: rgb(255, 56, 142);
	color: white;
}

.board-reply-btn {
	text-align: right;
	padding-right: 2%;
}

.board-writer-button {
	border: none;
	background-color: rgb(255, 56, 142);
	color: white;
	border-radius: 3px;
	width: 100px;
	height: 40px;
}

.board-writer-button:hover {
	color: rgb(128, 255, 0);
	background-color: black;
}

.board-get-button {
	border: 2px dashed pink;
	background-color: white;
	border-radius: 5px;
	margin-left:10px;
	padding:0px 10px;
}

.board-get-button:hover {
	color: rgb(128, 255, 0);
	background-color: black;
	border: 2px solid black;
}

#delete_btn {
	background-color: #f3e3e7;
}

.board-get-btn-area {
	display: flex;
	text-align: center;
	line-height: 38px;
	justify-content: flex-end;
	margin-top: 5%;
}

.board-page {
	width: 100%;
}

.board-page a {
	display: block;
	width: 90%;
	margin: 2% 0 2% 2%;
	cursor: pointer;
}

.review-card {
	padding-left: 14px;
	border: 1px dashed #e9ecef;
}

.review-card:hover {
	color: rgb(128, 255, 0);
	background-color: black;
	border: 2px solid black;
	cursor: pointer;
}

/* 페이지 네이션 css */
.pageInfo {
	list-style: none;
	display: flex;
	margin: 50px 100px 0 40px;
}

.pageInfo li {
	margin-right: 20px;
	padding: 7px;
	font-weight: 500;
}
.pageInfo a{
	
	color:black;
}

.active {
	background-color: rgb(255, 56, 142);
	border-radius: 200px;
}

/* 검색창 css */
.search_area {
	width: 100%;
}

.search_area select {
	height: 40px;
	line-height: 40px;
	width: 14%;
	border: 1px solid #e9ecef;
	font-size: 0.8rem;
	text-align: center;
	border-radius: 2px;
}

.search_area input {
	height: 40px;
	line-height: 40px;
	width: 30%;
	font-size: 0.7rem;
	border: 1px solid #e9ecef;
}

.search_area button {
	height: 40px;
	width: 10%;
	border: white;
	border-radius: 2px;
	background-color: rgb(255, 56, 142);;
}
.search_area button:hover{
	background-color: black;
	border: 2px solid black;
}
.search_area i{
	color:white;
}
.search_area i:hover{
	color: rgb(128, 255, 0);
	
}
.search_wrap {
	margin-bottom: 2%;
	display: flex;
	align-items: center;
}