@charset "UTF-8";




.board-aside{
	display:flex;
	align-items:center;
	justify-content:center; 
	
	
}

.board-aside-menu{
	display: flex; 
	flex-direction: column; 
	width:20%;
	height: 200px; 
	justify-content: space-between; 
	margin-right:2%;
	
}

.board-icon{
	height:70px;
	color:rgb(255, 56, 142);
	font-size:3rem;
}




.board-main{
	display:flex; 
	justify-content:center; 
}


.board-main-area{
	border-left:2px solid pink; 
	width:60%; 
	/* margin-top:10%; */
	padding-left:5%;
}

.board-main-area-firstline{
	display: flex;
	justify-content: space-between;
}

.board-main-title{
	display:flex; 
	align-items:center; 
	justify-content:space-between;
	border-bottom:2px solid pink;
	margin-bottom:50px;
	
}

.board-menu{
	width: 120%;
}

.board-menu p{
	text-align:right; 
	padding-right:30%; 
}

.board-pagenation{
	margin-top:10%;
	text-align:center;
}
.board-table-area{
	width:100%;
}
.board-table{
	text-align:center;
	font-size:11px;
}

.board-title{
	margin-left:10%; 
	height:40px; 
	font-size:1.8rem;
}

.board-table input{
	width:100%;
	border:0 solid black;
	border:1px solid #dee2e6;
}

.board-writer-content{
	width: 100%;
    height: 20em;
    border: none;
    resize: none;
    border:1px solid #dee2e6;
    
}

.board-write-area{
	margin-left:87%;
	
}
.board-reply-content{
	border: none;
    resize: none;
    border:1px solid lightgray;
    width:95%;
    height: 10em;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.board-reply-o{
	width:100%; 
	height:260px; 
	background-color:rgba(224, 224, 224, 0.29); 
	text-align:center; 
	padding-top:20px;
	
}


.board-reply-area{
	margin:10% auto;
}

.board-reply-inputbox{
	border: none;
	border:2px solid lightgray;
	width:100px;
	text-align:center;
	border-radius: 3px;
	background-color: rgb(255, 56, 142);
	color: white;
}

.board-reply-btn{
	text-align: right;
	padding-right:2%;
}
.board-writer-button{
	border:none;
	background-color: rgb(255, 56, 142);
	color: white;
	border-radius: 3px;
	width:100px;
	height:40px;
}

..board-writer-button:hover{
	color: black;
	
}
#delete_btn{
    background-color: #f3e3e7;
}



.board-get-btn-area{
	display: flex;
    text-align: center;
    line-height: 38px;
    justify-content: flex-end;
    margin-top:5%;
}
    
    .board-page{
    	width:100%;
    }
    .board-page a{
    	display: block;
    	width:90%;
    	margin: 2% 0 2% 2%;
    	cursor: pointer;
    	
    }
   
 /* 페이지 네이션 css */
.pageInfo{
      list-style : none;
      display: flex;
   	  margin: 50px 100px 0 40px;    
}
.pageInfo li{
    margin-right: 20px;
    padding: 7px;
    font-weight: 500;
}
 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;}
 
 .active{
      background-color: rgb(255, 56, 142);
      border-radius: 200px;
  }
  
  /* 검색창 css */
  
  .search_area{
  	width:100%;
  	
  }
  
  .search_area select{
  	  height: 25px;
      line-height:25px;
      width:9%;
      border:1px solid  #e9ecef;
      font-size:0.5rem;
      text-align:center;
      border-radius:2px;
  }
  
  .search_area input{
      height: 25px;
      line-height:25px;
      width:20%;
      font-size:0.7rem;
      border:1px solid  #e9ecef;
      border-radius:2px;
 	}
 	
 	.search_area button{
 	  height:25px;
      width:6%;
      border:white;
      border-radius:2px;
      background-color: rgb(255, 56, 142);;
 	}
 	
 	.search_wrap{
 		margin-bottom: 2%;
 	}
