@charset "UTF-8";




.board-aside{
	display:flex;
	align-items:center;
	justify-content:center; 
	
	
}

.board-aside-menu{
	display: flex; 
	flex-direction: column; 
	height: 200px; 
	justify-content: space-between; 
	margin-right:100px;
	
}

.board-icon{
	height:70px;
	color:rgb(255, 56, 142);
	font-size:3rem;
}




.board-main{
	display:flex; 
	justify-content:center; 
}


.board-main-area{
	border-left:2px solid pink; 
	width:60%; 
	/* margin-top:10%; */
	padding-left:5%;
}

.board-main-area-firstline{
	display: flex;
	justify-content: space-between;
}

.board-main-title{
	display:flex; 
	align-items:center; 
	justify-content:space-between;
	border-bottom:2px solid pink;
	margin-bottom:50px;
	
}

.board-menu{
	width: 120%;
}

.board-menu p{
	text-align:right; 
	padding-right:20px; 
}

.board-page{
	border:2px solid red; 
	margin-top:10%;
	text-align:center;
}

.board-table{
	text-align:center;
}

.board-title{
	margin-left:30%; 
	height:40px; 
}
.board-write-area{
	display:flex;
	justify-content: space-between;
}


.board-writer-content{
	width: 100%;
    height: 20em;
    border: none;
    resize: none;
    border:1px solid #dee2e6;
    
}

.board-table input{
	width:100%;
	border:0 solid black;
	border:1px solid #dee2e6;
}

.board-writer-button{
	border:none;
	background-color: rgb(255, 56, 142);
	color: white;
	border:2px solid lightgray;
	border-radius: 3px;
	width:100px;
	height:40px;
}






  
    
   

   
    
    
 
