@charset "UTF-8";
@import "/resources/css/header.css";
@import "/resources/css/footer.css";
@import "/resources/css/nav.css";

@font-face {
	    font-family: 'NanumGothic';
	    src: url("/resources/font/NanumGothicBold.otf");
	    font-weight: normal;
	    font-style: normal;
	}
	
	
    /* 전역설정 */
    body {
      font-family: 'NanumGothic';
      margin: 0 auto;
      width:100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
     /*   cursor: url("https://cdn-icons-png.flaticon.com/128/8000/8000373.png")10 20, auto; */
    }
   /*  a, a:link { cursor: url('https://cdn-icons-png.flaticon.com/128/7914/7914802.png')10 20, auto;} 
    a:hover, a:focus { cursor: url('https://cdn-icons-png.flaticon.com/128/7914/7914802.png')10 20, auto;} 
    a:active {cursor: url('https://cdn-icons-png.flaticon.com/128/7914/7914802.png')10 20, auto;}  */
	   
    a {
      color:black;
      text-decoration: none;
    }
    button {
      cursor: pointer;
    }
    .block {
      display: block;
    }

    .none {
      display: none;
    }
    
    main{
    	width:80%;
    	height:100%; 
    	margin: 100px auto 100px auto;
    	padding-top: 8%;
    }
    
   
     /* 스크롤바 */
	::-webkit-scrollbar {
	  	width: 0.7vw; 
	}
	::-webkit-scrollbar-thumb {
		background-color: rgb(255, 56, 142,0.5);
		border-radius: 10px;
	}
	::-webkit-scrollbar-track 
	{
		background-color: rgb(255, 56, 142,0.2);
		border-radius: 10px;
		box-shadow: inset 0px 0px 5px white;
	}
    
   

   
    
    
 
