@charset "UTF-8";

/* footer */
    footer {
 		margin-bottom:50px;
    }
    h4{
    	text-align: center;
    	 background-color: #f2f2f2;
    	 padding : 20px 20px;
    	 width:30%;
    	 margin:0 auto;
    	 border-radius: 10px;
    }
    .first-line {
    	margin-bottom:20px;
    	margin-top:20px;
    }
    .sns_icon{
    	font-size: 3rem;
    	text-align: center;
    	margin-top: 10px;
    }
