@charset "UTF-8";

/* footer */
    footer {
    	margin-top:100px;
    	margin-left:10%;
 		width:80%;
 		height:20vh;
    }
    footer > p{
    	 text-align: center;
    	 background-color: rgb(255, 56, 142);
    	 width:35%;
    	 margin:2% auto;
    	 line-height:40px;
    	 border-radius: 10px;
    	 border:2px solid lightgray;
    	 color:white;
    	 font-size:1.2rem;
    }
    
    .footer-Box
    {
    	width:100%; 
    	height:60%; 
    	padding-top:0.5%; 
    	color:white; 
    	background-color:rgb(255, 56, 142); 
    	border-radius:15px 15px 0px 0px
    }
    
    .footer-first-line {
    	margin-bottom:20px;
    	margin-top:20px;
    	padding-left:10%;
    	
    }
    
    .footer-first-line a {
    	color:white;
        padding-right:58px;
    }
    
    .footer-second-line{
    	padding-left:10%
    }
    .footer-second-line span{
    	padding-right:20px;
    }
    .footer-sns-icon{
    	font-size: 2rem;
    	text-align: center;
    	
    }
    
    .footer-sns-icon a{
    	padding-left:30px;
    }
    
	