@charset "UTF-8";

/* footer */
    footer {
		margin-top:100px;
 		padding-bottom:50px;
 		width:100%;
    }
    footer > p{
    	 text-align: center;
    	 background-color: rgb(255, 56, 142);
    	 width:35%;
    	 margin:2% auto;
    	 line-height:40px;
    	 border-radius: 10px;
    	 color:white;
    	 font-size:1.2rem;
    }
    .footer-first-line {
    	margin-bottom:20px;
    	margin-top:20px;
    	padding-left:10px;
    	
    }
    
    .footer-first-line span {
        padding-right:58px;
    
    }
    
    .footer-second-line{
    	padding-left:10px;
    }
    .footer-second-line span{
    	padding-right:20px;
    }
    .footer-sns-icon{
    	font-size: 2rem;
    	text-align: center;
    	
    }
    
    .footer-sns-icon a{
    	padding-left:30px;
    }
    
	