@charset "UTF-8";

 /* header */
    header {
      display: flex;
      position:fixed;
      left:10%;
      justify-content: center;
      border-bottom: 3px solid rgb(255, 56, 142);
      align-items: center;
      margin: 0 auto;
      width:80%;
      z-index:99999;
      background-color:white;
    }

    .searchBox {
      display: flex;
      width: 40%;
      height: 42px;
      justify-content:center;
    }
    .searchBox i {
    	position :relative;
    	left : 0;
    	border:1px solid lightgray;
    	height: 40px;
    	line-height: 40px;
    	padding-right: 3px;
    	color:lightgray;
    	width:35px;
    	text-align:center;
    }
    .searchBox input {
      height: 40px;
      line-height:40px;
      width:80%;
      border:1px solid lightgray;
    }

    .logoBox {
      width: 170px;
      height: 132px;
    }
    .logoBox img {
      padding-top: 8%;
      width: 90%;
      height: 80%;
    }
    
    .buttonBox {
      width: 180px;
      height: 100px;
      text-align: center;
    }
    .buttonBox button {
    	background-color:white;
    	border:none;
    	padding-top:30px;
    }
    
    .buttonBox i{
    	font-size:2rem; 
    	color:rgb(255, 56, 142);
    }
    
        
    ::placeholder {
	  color: gray;
	  font-size: 0.8rem;
	  font-weight: 400;
	  opacity: 1; /* Firefox */
	  font-style: italic;
	  font-weight: bold;
	  text-align:center;
	  padding-left:10px;
	  
	}
    
     /* aside */
    .burgerBox {
      width: 7%;
      height: 50%;
    }
    
    #check_box {
      display: none;
      padding-left:0px;
    }


    #check_box + label > span {
      position: absolute;
      display: block;
      width: 40%;
      height: 5px;
      background: rgb(255, 56, 142);
      border-radius: 5px;
      transition: all 300ms;
      padding-left:0;
    }

    #check_box:checked + label > span:nth-child(1) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(45deg);
    }

    #check_box + label > span:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }

    #check_box:checked + label > span:nth-child(2) {
      opacity: 0;
    }

    #check_box + label > span:nth-child(3) {
      bottom: 0;
    }

    #check_box:checked + label > span:nth-child(3) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(-45deg);
    }

    #check_box + label {
      position: relative;
      display: block;
      height: 30px;
      cursor: pointer;
      /* z-index 추가 */
      z-index: 1000;
    }
    
    #login-button{
    	text-align:center;
    	font-size:1.5rem;
    }
    
    #login-button a{
    	display:block;
    }

    #side_menu {
      position: fixed;
      width: 25%;
      height: 100%;
      background-color: rgb(44, 62, 80);
      left: -30%;
      transition: all 300ms;
      z-index: 999;
      top: 0px;
      padding: 60px 20px 20px 20px;
      box-sizing: border-box;
      color:white;
      display:flex;
      flex-direction:column;
      justify-content:space-between;
    }
    
    #side_menu ul{
    	list-style:none;
    	margin-top:20%;
    }
    
    #side_menu a{
    	color:white;
    	font-size:30px;
    }
    
    #side_menu i{
    	padding:19px;
    }

    #check_box:checked + label + #side_menu {
      left: 0;
    }
    
    .side_Detail{
    	display:none;
    }
    
    #side_menu > a:hover .side_Detail{
    	display:block;
    }
    
    
    