@charset "UTF-8";

 /* header */
    header {
      display: flex;
      justify-content: center;
      border-bottom: 3px solid rgb(255, 56, 142);
      align-items: center;
    }

    .searchBox {
      display: flex;
      width: 30%;
      height: 42px;
      text-align: center;
    }
    .searchBox i {
    	position :relative;
    	left : 25px;
    	border-right:1px solid black;
    	height: 30px;
    	line-height: 30px;
    	padding-right: 3px;
    }
    .searchBox input {
      width: 70%;
      height: 30px;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 10px;
    }

    .logoBox {
      width: 170px;
      height: 132px;
    }
    .logoBox img {
      padding-top: 8%;
      padding-left: 8%;
      width: 80%;
      height: 80%;
    }
    .buttonBox {
      width: 180px;
      height: 132px;
      text-align: center;
    }
    .buttonBox button {
      border: 1px solid rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      font-size: 1.3em;
    }