@charset "UTF-8";


 
/* 로그인 실패시 경고글 */
.login_warn{
    margin-top: 30px;
    text-align: center;
    color : red;
    font-size:13px;
}


/* login */
    .loginBox {
      width: 30vw;
      height: 60vh;
      background-color: white;
      margin: 10vh auto;
      padding: 70px 90px;
      border: 1px solid #e1e1e1;
      border-radius: 6px;
      text-align: center;
    }
    .loginInput {
      width: 17vw;
      height: 5vh;
      font-size: 1.2em;
      border: 1px solid #e1e1e1;
    }

    .loginForm {
      text-align: center;
    }
    .loginForm div {
      margin-bottom: 20px;
    }

    .loginBtn {
      width: 17.4vw;
      height: 5vh;
      background-color: rgb(255, 56, 142);
      color: white;
      font-size: 1.2em;
      font-weight: 700;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 2px;
    }
    .autoLoginBox {
      width: 14vw;
      margin-left: 8vw;
      font-size: 13px;
      align-items: center;
    }
    .autoLoginBox input {
      font-size: 1.2em;
      width: 12px;
      height: 12px;
    }
