@charset "UTF-8";

.ts_firstSection
	{
		width:100%; 
		height:10vh; 
		text-align:center;
	}
	.ts_secondSection
	{
		width:100%;
		height:200vh; 
		display:flex; 
		flex-direction:column; 
		border:1px solid lightgray;
	}
	.ts_sec_Box
	{
		width:100%;
		height:25vh; 
		display:flex;
		border-bottom:1px solid lightgray;
	}
	.ts_In_Box
	{
		width:100%; 
		height:100%; 
		padding-left:50px;
	}
	.ts_In_Box strong
	{
		font-size:2em;
	}
	.ts_In_Box p
	{
		font-size:1.3em;
	}