@charset "UTF-8";

.travelP_imgdiv img{
	width:28px;
	margin-right:10px;
}
.travelP_reply{
	width: 80%; 
	background-color: rgba(224, 224, 224, 0.29); 
	margin: 0 auto; 
	padding: 10px 10px 0 10px; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-between;
}
		
.travelP_travelimg img{
	width:80%;
	height: 400px;
}	
.travelP_reply > input {
	border:none;
	border:1px solid gray;
	height: 70px;
}
.travelP_reply_content{
	background-color:  white;
	height: 70px;
	margin-bottom : 20px;
	padding: 10px;
}

.travelP_firstdiv{
	width:60%;
	margin: 0 auto;
}
.travelP_seconddiv{
	margin-bottom:30px;
	text-align: center;
}
.travelP_placespan{
	font-size:1.5rem;
	font-weight:bold;
	font-size: xx-large;
	margin-bottom: 50px;
}
.travelP_thirddiv{
	margin-bottom: 20px;
	text-align: center;
}
.travelP_placeaddr{
	font-size:1.3rem;
}
.travelP_description{
	font-size:x-large;
}

.travelP_imgdiv{
	font-size: 16px;
	margin-top: 30px;
}

.travelP_travelinfo{
	display:flex; justify-content: space-between; 
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: bold;	
}
.travelP_travelimg{
	display: flex;
	justify-content: center;
}
.travelP_detailinfo{
	font-weight: bold;
	font-size: large;
}
.travelP_detailinfo2{
	height:20%;
	width:80%;
	margin-top:10px;
}
.travelP_input{
	width: 10%;
	margin-right:10px; 
	font-size: 1.1rem;
	text-align: center;
}

.travelP_button{
	border-radius: 8px; 
	text-align:right; 
	border:1px solid black;
    background-color:black; 
    color:white; 
    margin: 10px 0;
}
#modify {
	display: none; 
	position : fixed;
	left: 35%;
	top: 25%;
	width: 30%;
	border: 1px solid black;
	text-align: center;
	padding: 30px 0;
	background-color: #fefefe;
	border-radius: 3px;
	position: fixed;
	box-shadow: 5px 5px 5px 5px pink;
}

.modal-input {
	width: 100%;
}

.btnarea button {
	border: none;
	background-color: rgb(255, 56, 142);
	color: white;
	border: 2px solid lightgray;
	border-radius: 3px;
	width: 100px;
	height: 40px;
}
