@charset "UTF-8";

#p_location{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-bottom : 100px;
	border-collapse: collapse;
}
.p_list_title{
	padding-bottom:30px;
}

#p_location tr{
	height: 60px;
}
#p_location tr td{
	border:1px solid black; 
}
.c_trable{
	display: flex;
	justify-content: space-between;
	margin-bottom:100px;
}
.c_card{
	width:300px;
	margin : 0 auto;
	text-align: center;
	border: 1px solid black;
	height: 450px;
	
}
.c_course{
	background-image: url(/resources/image/대구.jpeg); 
	height: 100px; 
	line-height: 100px; 
	text-align: center;
	background-repeat: no-repeat;
	background-size : cover;
	margin-bottom: 40px;
}

.p_firstline{
	display: flex;
	justify-content: space-between;
	margin-bottom : 50px;
	padding-bottom: 20px;
}
.p_title{
	border-left : 1px solid gray; 
	padding-left : 20px;
	margin-bottom:20px;
}
.p_top{
	border : 1px solid black;
	width:150px;
	height:150px;
	background-color : lightgray;
	text-align: center;
	cursor: pointer;
}
.p_top img {
	width: 150px;
	height: 150px;	
}


.all{
	margin: 0 auto;
	width: 80%;
	
}

.e_all{
	display: flex;
	justify-content: space-around;
}
.e_listorder{
	text-align: right;
	margin-top:100px;
}
.e_listorder a{
	color : gray;
	font-size: 1.2rem;
}
.e_card{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.e_explain{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
@media (max-width: 1350px) {
  .e_explain {
    display: none;
  }
}

.e_list{
	display: flex;
	width: 600px;
	cursor: pointer;
}
.e_heart button{
	border:none;
	background-color: white;
	height: 50px;
	color :  rgb(255, 56, 142,0.5);
	
}

.e_img{
	width:300px;
	height: 200px;
	margin-right: 30px;
}

.e_heart{
	font-size: 3rem;
	height: 50px;
}


.e_h{
	cursor: pointer;
}
.e_location{
	display: flex;
	justify-content: space-between;
	margin-bottom:20px;
}
.e_location a{
	color : black;
}


 .board-page{
 	width:100%;
 	border:1px solid #dee2e6;
 }
 .board-page a{
 	display: block;
 	width:90%;
 	margin: 2% 0 2% 2%;
 	cursor: pointer;
 	
 }
 
 /* 페이지 네이션 css */
.pageInfo{
      list-style : none;
      display: flex;
   	  margin: 50px 100px 0 40px;    
   	  border:1px solid gray;  
}
.pageInfo li{
    margin-right: 20px;
    padding: 7px;
    font-weight: 500;
}
 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;}
 
 .active{
      background-color: rgb(255, 56, 142);
  }

