@charset "UTF-8";

.wish-list{
	
	width:100%; 
	height:300px;
	display:flex;
	justify-content:space-around;
	
	
}

.wish-list-article{
	border:2px solid rgb(255, 56, 142); 
	width:200px;
	height:250px;
	margin-top:20px;
}

.wish-list-card{
	width: 195px; height:245px;
}

.wish-list-card>img{
	width:194px; height:170px;
}

.wish-list-card-title{
	display:flex; 
	justify-content:space-between; 
	align-items:center; 
	height:90px;
	padding:0 10px 0 10px;
}