<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.look.mapper.NoticeMapper">
  <!-- 전체 내용 조회 -->
	<select id="viewAll" resultType="com.look.model.NoticeDTO">
		  SELECT * FROM tbl_board ORDER BY bno DESC
	</select>	
	
	<!-- 글 상세조회 -->
	<select id="viewDetail" resultType="com.look.model.NoticeDTO" parameterType="int">
	  SELECT * FROM tbl_board WHERE bno = #{bno}
	</select>
	
	<!-- 조회수 +1 -->
	<update id="plusCnt" parameterType="int">
	  UPDATE tbl_board SET hit = hit + 1 WHERE bno = #{bno}
	</update>
	
	
	<!-- 게시판 insert -->
	<insert id="insertBoard" parameterType="com.look.model.NoticeDTO">
		INSERT INTO tbl_board (nickname, title, content)
					VALUES (#{nickname}, #{title}, #{content})
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>
  </mapper>