<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.yun.mapper.BoardMapper">
	<!-- 전체 내용 조회 -->
		<select id="viewAll" resultType="com.yun.domain.BoardVO">
		  SELECT * FROM board ORDER BY SEQ DESC
		</select>	
	
</mapper>