<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 속성 값이 중요한 이유는 MyBatis가 Mapper인터페이스와 XML을 인터페이스 이름과 
 		namespace 속성 값으로 판단하기 때문! 
 		
 		인터페이스 이름 = namespace 속성 값 
 	 -->
  <mapper namespace="com.look.mapper.MemberMapper">
 	
    <insert id="memberJoin">
        insert into tbl_member(name, email,password,nickname,address,grade,createdAt) values(#{name}, #{email}, #{password}, #{nickname}, #{address}, #{grade}, now())      
    </insert>
    
    <!-- 아이디 중복 검사 -->
    <select id="idCheck" resultType="int">
    	select count(*) from tbl_member where email = #{email}
    </select>
    
    <!-- 로그인 -->
    <select id="memberLogin" resultType="com.look.model.MemberDTO">
    	select email,name,nickname,grade,address from tbl_member where email = #{email} and password= #{password}
    </select>	
  </mapper>