<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 속성 값이 중요한 이유는 MyBatis가 Mapper인터페이스와 XML을 인터페이스 이름과 namespace 
	속성 값으로 판단하기 때문! 인터페이스 이름 = namespace 속성 값 -->

<mapper namespace="com.look.mapper.MemberMapper">

	<insert id="memberJoin">
		insert into tbl_member(name,
		email,password,nickname,address,phone,createdAt) values(#{name},
		#{email}, #{password}, #{nickname}, #{address} #{phone} , now())
	</insert>

	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">
		select count(*) from tbl_member where email = #{email}
	</select>

	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.look.model.MemberDTO">
		select email,name,nickname,address,password from tbl_member
		where email =
		#{email} and password= #{password}
		<!-- select email,name,nickname,grade,address from tbl_member where email 
			= #{email} -->
	</select>

	<!-- 회원정보 수정 -->
	<select id="memberUpdate">
		update tbl_member set
		password=#{password},address=#{address},nickname=#{nickname} where
		email=#{email}
	</select>

	<!-- 회원탈퇴 -->
	<delete id="memberDelete">
		delete from tbl_member where email=#{email} and
		password=#{password}
	</delete>
	
	<select id="findId" resultType="com.look.model.MemberDTO">
		select * from tbl_member where name=#{name} and phone=#{phone}
	</select>
	
	<select id="findPassword" resultType="com.look.model.MemberDTO">
		select * from tbl_member where email=#{email} and name=#{name} and phone=#{phone}
	</select>
	
	<update id="updatePassword">
		update tbl_member set password=#{password} where email=#{email}
	</update>

</mapper>