<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 속성 값이 중요한 이유는 MyBatis가 Mapper인터페이스와 XML을 인터페이스 이름과 
 		namespace 속성 값으로 판단하기 때문! 
 		
 		인터페이스 이름 = namespace 속성 값 
 	 -->
  <mapper namespace="com.look.mapper.TripMapper">
    
    <!-- 인기 여행 목록 -->
    <select id="getList" resultType="com.look.model.TripDTO">
    
        select course, address, place from tbl_best_image order by heart desc
    
    </select>
    
    <!-- 전체/지역 목록 -->
    <select id = "locationList" resultType="com.look.model.TripDTO">
    		
    	select * from tbl_best_image 
    	<if test ="!keyword.equals('전체')">
    		where address like concat('%',#{keyword},'%') 
    	</if>
    	order by heart desc
    	
    </select>
    
    
    <select id="localTotal" resultType="int">
    
        select count(*) from tbl_best_image
        
    </select>
    
     <!-- 게시물 목록(페이징) -->
    <select id="localListPaging" resultType="com.look.model.TripDTO">
    
        select * from (
                select imgno, course, heart, address, place
                from tbl_best_image 
                order by imgno desc) as T1
        limit #{skip},#{amount}
    
    </select>
    
   		
  </mapper>